# System files
.DS_Store

# Logs
logs
*.log
.pnpm-debug.log*

# PHP/Composer files and dependencies
.php-cs-fixer.cache
composer.phar
vendor

# Node dependencies
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
